<header>
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
      <ul class="nav nav-pills">
          <li><%= link_to "Home", {:controller => "welcome", :action => "index"} %></li>
          <li><%= link_to "Players", {:controller => "players", :action => "index"} %></li>
      </ul>
  </nav>
</header>
